img {
    height: 5rem;
    width: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #3398B2;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: "Inter";
    margin: 10px;
}

.navLinks {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 4.5rem;
    margin: 0;
    font-family: "Newsreader";
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-btn, .logout-btn {
    background-color: #3398B2;
    padding: .5rem 1.5rem;
    color: white;
    border-radius: .5rem;
}

.brand-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
