.body-content {
    font-size: 18px;
}

.board-nav h1 {
    font-weight: 400;
    font-size: 45px;
}

.experience-nav h3, .trip-nav h3, .bookmark-nav h3{
    font-weight: 300;
    font-size: 30px;
}

.board-nav, .experience-nav, .trip-nav, .bookmark-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.left, .right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.board-links {
    display: flex;
    gap: 1rem;
}


button.not-selected {
    background-color: white !important;
    color: black !important;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 15px;
}

button:hover {
    background-color: #80ccdf !important;
    text-decoration: none !important;
}
